<% content_for :stylesheets do %>
    <%= stylesheet_link_tag    "homeland/opensource_project/application", media: "all" %>
<% end %>

<% content_for :javascripts do %>
    <%= javascript_include_tag "homeland/opensource_project/application" %>
<% end %>

<% content_for :main do %>
    <script type="text/javascript">
        $('.navbar-nav .nav-plugin-opensource_project').addClass("active");
    </script>
    <div id="homeland-opensource_project">
      <%= yield %>
    </div>
<% end %>

<%= render template: "/layouts/application" %>
