<div id="hot_opensource_project-list" class="panel panel-default">
  <div class="panel-heading">最热开源项目</div>
  <div class="panel-body">
    <%= render partial: 'project_thumbnail', collection: @hot_opensource_projects %>
  </div>
</div>