<% title_tag "编辑文章" %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="heading">编辑项目</div>

    <%= render 'form', opensource_project: @opensource_project %>
  </div>
</div>
