<% title_tag "提交新项目" %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="heading">提交新项目</div>

    <%= render 'form', opensource_project: @opensource_project %>
  </div>
</div>
