/*
 *= require_self
 */
#homeland-opensource_project {

  textarea#opensource_project_body {
    height: 400px;
  }

  .toolbar {
    margin-bottom: 15px;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
  }

  .filter {
    font-size: 15px;
  }

  #opensource_project-list {
    .panel-body {
    }

    .opensource_project {
      margin: 0 -15px;
      padding: 0 15px 15px 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #eee;

      @media (max-width: 480px) {
      }

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0px;
      }
    }

    .opensource_project-likes {
      width: 60px;
      text-align: center;
      padding-top: 0px;
      color: #666;

      &.active {
        .icon {
          color: #EB5424;
        }
      }

      .icon {
        font-size: 22px;
        margin-bottom: 0px;

      }
      .counter {
        font-size: 14px;
      }
    }

    .opensource_project-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0px;
    }
    .opensource_project-summary {
      padding: 10px 0;
      font-size: 14px;
      color: #888;
    }
    .opensource_project-info {
      color: #aaa;
      font-size: 12px;
      a {
        color: #aaa;
      }
    }

    @media (max-width: 480px) {
      .opensource_project-title {
        font-size: 16px;
        line-height: 18px;
      }
      .opensource_project-likes {
        width: 40px;
      }
    }
  }

  #hot_opensource_project-list {
    .project_cover_thumbnail {
      height: 200px;
      display: block;
    }
    .project_summary_thumbnail {
      overflow-x: hidden;
      text-overflow:ellipsis;
      height: 100px;
      overflow-y: visible;
    }
    /* for Chrome */
    .project_summary_thumbnail::-webkit-scrollbar {
      display: none;
    }

    .project_likes_thumbnail {
      vertical-align: middle;
    }

    .icon {
      font-size: 22px;
      margin-bottom: 0px;
      color: #EB5424;
    }
  }

  #opensource_project-detail {
    .panel-body {
      padding: 30px 50px;
    }

    @media (max-width: 480px) {
      .panel-body {
        padding: 15px;
      }
    }

    h1 {
      text-align: center;
      margin-bottom: 15px;
      font-size: 24px;
    }

    .opensource_project-opts,
    .opensource_project-actions {
      color: #999;
      text-align: center;
    }

    .social-share-button {
      text-align: center;
      margin: 15px 0;
      height: 24px;
      .ssb-icon {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
      }
    }

    .opensource_project-info {
      color: #999;
      .media-object {
        display: inline;
      }
      a {
        color: #777;
      }
      a.user-name {
        color: #0069D6;
        font-weight: bold;
      }
      margin-bottom: 20px;
    }

    .opensource_project-actions {
      margin-top: 15px;
      .btn {
        padding: 8px 20px 6px 20px;
        border-radius: 6px;
        font-size: 16px;
        margin: 0 5px;
      }

      .likeable {
        &.active {
          color: #EB5424;
          background: #fff !important;
          box-shadow: 0 0 0;
        }
      }
    }

    .opensource_project-body {
      margin-top: 50px;

    }
    .project_cover_media {
      width: 120px;
      height: 120px;
    }
    .social-share-button {
      text-align: left;
    }
    .active {
      color: #EB5424;
      background: #fff !important;
      box-shadow: 0 0 0;
    }
  }
}

.opensource_project-upcoming {
  .opensource_project {
    .title {
      font-size: 16px;
      a {
        color: #2e3ebd;
      }
      a:visited {
        color: #777;
      }
    }
    .author,
    .time {
      width: 120px;
    }
  }
}

.project_cover {
  width: 100px;
  height: 100px;
}

